#app {
    --color: #ffffff;
    --color-rev: #000000;
    --color-sub: #bbbbbb;
    --color-focus: #ffaa22;
    --bg: #222222;
    --bg-rev: #ffffff;
    --bg-sec: #666666;
    --side-bg: #333333;
    --box-info: #40cb40e0;
    --box-warning: #cbcb40e0;
    --box-error: #cb4040e0;

    --button-share: #0088ff;
    --button-download: #338800;
    --button-disable: #888888;
    --button-edit: #ff8800;
    --button-remove: #dd0000;
    --button-logout: #aa0000;
    --button-next: #ff8800;
    --button-last: #2288cc;
}