#ticket {
    .section {
        width: 100vh;
        height: calc(100% - 1.5rem);
        max-width: 95vw;
        margin: auto;
        padding: 0.75rem 0;

        h2 {
            height: 3.75rem;
            line-height: 3.75rem;
        }
    }
}